  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
#map {
	height: 100%;
	width: 59%;
	position: relative;
	overflow: hidden;
}

#costado{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40.5%;	  
  border: none; /*3px solid blue;*/
  height: 100%;
  border: 3px solid;
  overflow-y: scroll;
} 



/* nuevo*/
table ,tr td{
    border:1px solid black;
    border-collapse: collapse;

}
tbody {
    display:block;
    height:180px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width:100%;
}
