  #leftPanel {
	height: 100%;
	width: 59%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
#costado{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40%;	  
  border: 3px solid;
  height: 100%;
  overflow-y: scroll;
} 

#usersTable,cooksTable,driversTable,delegatesTable, table, th, td {
  border: 1px solid black;
  border-collapse : collapse;
  /* margin: 0 auto; */

}

#profileLeftPanel{
	height:100%;
	overflow-y:scroll;
	overflow-x:auto;
}

#addDelegateRole{ /* no anda :( */
  margin: 0 auto; /* or margin: 0 auto 0 auto */

}

/* lo que sigue es autocomplete */

.autocomplete {
  position: relative;
  display: inline-block;
}


input[type=text] {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

/*
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}*/

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
