  #leftPanel {
	height: 100%;
	width: 59.5%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
#costado{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40%;	  
  border: 3px solid;
  height: 100%;
  overflow-y: scroll;
} 

#usersTable,cooksTable,driversTable,delegatesTable, table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-x: auto;
}

#usersTable,#cooksTable,#driversTable,#delegatesTable, table, tr {
  overflow-y: auto;
  width: 56%; 
}

#usersLeftPanel{
	height:100%;
	overflow-y:scroll;
	overflow-x:auto;
}

#currentPageDiv{
	border: none;
}

td {
    max-width:200px;
}

select {
	width : 180px;
}
