  #ppal {
	height: 100%;
	width: 59%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
#costado{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40%;	  
  border: 3px solid;
  height: 100%;
  overflow-y: scroll;
} 

#groupsTable, table, th, td {
  border: 1px solid black;
  border-collapse:collapse;
}

#ppal{
	height:50%;
	overflow-y:scroll;
	overflow-x:auto;
}

/*for pdf printing: */

.before {
	page-break-before: always;
}
.after {
	page-break-after: always;
}
.avoid {
	page-break-inside: avoid;
}
table {
	border-collapse: collapse;
	page-break-inside:auto
}
td {
	border: 1px solid black;
}

 
tr    { page-break-inside:avoid; page-break-after:auto }

#map {
	height: 50%;
	width: 59%;
	position: relative;
	overflow: hidden;
}

