html,body { height: 100% }
.row-more .dropdown-toggle::after {
  display: none;
}

ul{list-style: none; margin: 0; padding: 0 }

#filter-bar {
	background: #ECECEC;
    width:100%;
    box-sizing:content-box;
}
.filter-group { display: inline-block;    box-sizing:content-box; }

#loadingLogin {
	background-color: white;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	z-index:10;
}
#loadingLogin img {
	width: 100%;
	height: 100%;
	display: block;
	margin-top:auto;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

#by-convidartech{
	position: absolute;
    left: auto;
    right: 0px;
    top: auto;
    bottom: 0px;
    z-index: 10;
	background: white;
	padding:5px;
	

}

.container-list-map { height: calc(100% - 98px); position: relative; }
.list-container {overflow-y: scroll; padding: 0; position: absolute; top: 0; bottom: 0; width: 60%; padding: 20px}
.map-container { height: 100%; position: absolute;right: 0; width: 40%; top: 0; }
#map, #mapDiv {height: 100%; position: relative; overflow: hidden;}
#profileMap {width:100%;height:300px;}
#modalProfile .profileActions { display: flex;justify-content: flex-end; }
#modalProfile li {display: inline; margin:5px;}

.row {
	width: 100%;
	box-sizing:content-box;
}

.ui-autocomplete.ui-menu {
  z-index: 3001;
} 




/*********** AUTO COMPLETE ************/
.loading-circle {
    background-color: #ffffff;
    background-image: url("img/loading.gif");
    background-size: 16px 16px;
    background-position: right center;
    background-repeat: no-repeat;
}

.hide-loading-circle {
    background: none;
}

.form-textinput{
	margin: 0px 5px 0px 5px;
	padding:0px 10px;
	border-radius:5px;
	border:solid 0px #ccc;
}

.autocomplete {
    position: relative;
    background-color: white;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    /* overflow: auto;*/
	background-color:#fdf8f3;
	border-radius:5px;
	position: absolute;
	z-index:3001;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 10px;
    cursor: pointer;
    /*position: absolute;*/
    z-index:3001;
    background-color: white;
}

.autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
}
/*********** END AUTO COMPLETE ************/
